In [1]:
import pandas as pd
import re

from pdfminer.high_level import extract_text

In [2]:
test_file = '/Users/johnathonsmith/Downloads/25_03_25CVMaverickInactive.pdf'

In [33]:
content = extract_text(test_file)
content[:370]

"                                 LEOPOLDO VIELMA - DISTRICT CLERK'S OFFICE\n                                PENDING CIVIL CASES - INACTIVITY REPORT - RAN ON 03/26/2025\n                               FILE DATES: ALL FILE DATES - INACTIVE ON: 03/25/2025 - PAGE 1\n\nCAUSE #             FILE DATE   INACTIVE ST DT  INACTIVE END DT  INACTIVE REASON                            \n"

In [34]:
header = content[:370].strip()
header

"LEOPOLDO VIELMA - DISTRICT CLERK'S OFFICE\n                                PENDING CIVIL CASES - INACTIVITY REPORT - RAN ON 03/26/2025\n                               FILE DATES: ALL FILE DATES - INACTIVE ON: 03/25/2025 - PAGE 1\n\nCAUSE #             FILE DATE   INACTIVE ST DT  INACTIVE END DT  INACTIVE REASON"

In [7]:
body = content[370:]
body

'\n        18-11-36606-MCV    11/09/2018       12/09/2024                   ALL OTHER CASES ORDER ABATED BY A JUDGE    \n        22-09-41428-MCV    09/30/2022       10/16/2024                   ALL OTHER CASES ORDER ABATED BY A JUDGE    \n        23-10-42622-MCV    10/02/2023       02/10/2025                   ALL OTHER CASES ORDER ABATED BY A JUDGE    \n        24-02-43040-MCV    02/05/2024       02/28/2025                   ALL OTHER CASES ORDER ABATED BY A JUDGE    \n        24-06-43488-MCV    06/05/2024       10/24/0224                   ALL OTHER CASES ORDER ABATED BY A JUDGE    \n        24-06-43494-MCV    06/07/2024       07/19/2024                   ALL OTHER CASES ORDER ABATED BY A JUDGE    \n        24-09-43842-MCV    09/27/2024       01/10/2025                   ALL OTHER CASES ORDER ABATED BY A JUDGE    \n        24-10-43944-MCV    10/29/2024       12/09/2024                   ALL OTHER CASES ORDER ABATED BY A JUDGE    \n\nTOTAL CASES LISTED: 8\n\n\x0c'

# Create Regex For Headers

In [8]:
content

"                                 LEOPOLDO VIELMA - DISTRICT CLERK'S OFFICE\n                                PENDING CIVIL CASES - INACTIVITY REPORT - RAN ON 03/26/2025\n                               FILE DATES: ALL FILE DATES - INACTIVE ON: 03/25/2025 - PAGE 1\n\nCAUSE #             FILE DATE   INACTIVE ST DT  INACTIVE END DT  INACTIVE REASON                            \n\n        18-11-36606-MCV    11/09/2018       12/09/2024                   ALL OTHER CASES ORDER ABATED BY A JUDGE    \n        22-09-41428-MCV    09/30/2022       10/16/2024                   ALL OTHER CASES ORDER ABATED BY A JUDGE    \n        23-10-42622-MCV    10/02/2023       02/10/2025                   ALL OTHER CASES ORDER ABATED BY A JUDGE    \n        24-02-43040-MCV    02/05/2024       02/28/2025                   ALL OTHER CASES ORDER ABATED BY A JUDGE    \n        24-06-43488-MCV    06/05/2024       10/24/0224                   ALL OTHER CASES ORDER ABATED BY A JUDGE    \n        24-06-43494-MCV    06/07/2024       07/19/2024                   ALL OTHER CASES ORDER ABATED BY A JUDGE    \n        24-09-43842-MCV    09/27/2024       01/10/2025                   ALL OTHER CASES ORDER ABATED BY A JUDGE    \n        24-10-43944-MCV    10/29/2024       12/09/2024                   ALL OTHER CASES ORDER ABATED BY A JUDGE    \n\nTOTAL CASES LISTED: 8\n\n\x0c"

In [12]:
#Set up regex to remove all subsequent headers
#This regex should identify the headers even if the name of the district clerk changes later on
new_content = re.sub(r"""\s*[A-Z\.\' \n-]*\d{2}/\d{2}/\d{4}\n\s*[A-Z0-9 \:-]*\d{2}/\d{2}/\d{4}[A-Z0-9 \n#-]*INACTIVE REASON\s*\n\n""", '', content)
new_content

'        18-11-36606-MCV    11/09/2018       12/09/2024                   ALL OTHER CASES ORDER ABATED BY A JUDGE    \n        22-09-41428-MCV    09/30/2022       10/16/2024                   ALL OTHER CASES ORDER ABATED BY A JUDGE    \n        23-10-42622-MCV    10/02/2023       02/10/2025                   ALL OTHER CASES ORDER ABATED BY A JUDGE    \n        24-02-43040-MCV    02/05/2024       02/28/2025                   ALL OTHER CASES ORDER ABATED BY A JUDGE    \n        24-06-43488-MCV    06/05/2024       10/24/0224                   ALL OTHER CASES ORDER ABATED BY A JUDGE    \n        24-06-43494-MCV    06/07/2024       07/19/2024                   ALL OTHER CASES ORDER ABATED BY A JUDGE    \n        24-09-43842-MCV    09/27/2024       01/10/2025                   ALL OTHER CASES ORDER ABATED BY A JUDGE    \n        24-10-43944-MCV    10/29/2024       12/09/2024                   ALL OTHER CASES ORDER ABATED BY A JUDGE    \n\nTOTAL CASES LISTED: 8\n\n\x0c'

In [13]:
#Now add the page break at the beginning of the regex string to capture the header on additional pages
#It won't remove it with this file example with the page break included
new_content = re.sub(r"""\n\x0c\s*[A-Z\.\' \n-]*\d{2}/\d{2}/\d{4}\n\s*[A-Z0-9 \:-]*\d{2}/\d{2}/\d{4}[A-Z0-9 \n#-]*INACTIVE REASON\s*\n\n""", '', content)
new_content

"                                 LEOPOLDO VIELMA - DISTRICT CLERK'S OFFICE\n                                PENDING CIVIL CASES - INACTIVITY REPORT - RAN ON 03/26/2025\n                               FILE DATES: ALL FILE DATES - INACTIVE ON: 03/25/2025 - PAGE 1\n\nCAUSE #             FILE DATE   INACTIVE ST DT  INACTIVE END DT  INACTIVE REASON                            \n\n        18-11-36606-MCV    11/09/2018       12/09/2024                   ALL OTHER CASES ORDER ABATED BY A JUDGE    \n        22-09-41428-MCV    09/30/2022       10/16/2024                   ALL OTHER CASES ORDER ABATED BY A JUDGE    \n        23-10-42622-MCV    10/02/2023       02/10/2025                   ALL OTHER CASES ORDER ABATED BY A JUDGE    \n        24-02-43040-MCV    02/05/2024       02/28/2025                   ALL OTHER CASES ORDER ABATED BY A JUDGE    \n        24-06-43488-MCV    06/05/2024       10/24/0224                   ALL OTHER CASES ORDER ABATED BY A JUDGE    \n        24-06-43494-MCV    06/07/2024       07/19/2024                   ALL OTHER CASES ORDER ABATED BY A JUDGE    \n        24-09-43842-MCV    09/27/2024       01/10/2025                   ALL OTHER CASES ORDER ABATED BY A JUDGE    \n        24-10-43944-MCV    10/29/2024       12/09/2024                   ALL OTHER CASES ORDER ABATED BY A JUDGE    \n\nTOTAL CASES LISTED: 8\n\n\x0c"

In [14]:
#Split cases
cases = []
cases = body.split('\n')
cases

['',
 '        18-11-36606-MCV    11/09/2018       12/09/2024                   ALL OTHER CASES ORDER ABATED BY A JUDGE    ',
 '        22-09-41428-MCV    09/30/2022       10/16/2024                   ALL OTHER CASES ORDER ABATED BY A JUDGE    ',
 '        23-10-42622-MCV    10/02/2023       02/10/2025                   ALL OTHER CASES ORDER ABATED BY A JUDGE    ',
 '        24-02-43040-MCV    02/05/2024       02/28/2025                   ALL OTHER CASES ORDER ABATED BY A JUDGE    ',
 '        24-06-43488-MCV    06/05/2024       10/24/0224                   ALL OTHER CASES ORDER ABATED BY A JUDGE    ',
 '        24-06-43494-MCV    06/07/2024       07/19/2024                   ALL OTHER CASES ORDER ABATED BY A JUDGE    ',
 '        24-09-43842-MCV    09/27/2024       01/10/2025                   ALL OTHER CASES ORDER ABATED BY A JUDGE    ',
 '        24-10-43944-MCV    10/29/2024       12/09/2024                   ALL OTHER CASES ORDER ABATED BY A JUDGE    ',
 '',
 'TOTAL CASES LISTED: 8',
 '',
 '\x0c']

In [15]:
#Remove cases that happen to be empty or consist of whitespace only
cases = [case for case in cases if case.isspace() == False and len(case) > 0]
cases

['        18-11-36606-MCV    11/09/2018       12/09/2024                   ALL OTHER CASES ORDER ABATED BY A JUDGE    ',
 '        22-09-41428-MCV    09/30/2022       10/16/2024                   ALL OTHER CASES ORDER ABATED BY A JUDGE    ',
 '        23-10-42622-MCV    10/02/2023       02/10/2025                   ALL OTHER CASES ORDER ABATED BY A JUDGE    ',
 '        24-02-43040-MCV    02/05/2024       02/28/2025                   ALL OTHER CASES ORDER ABATED BY A JUDGE    ',
 '        24-06-43488-MCV    06/05/2024       10/24/0224                   ALL OTHER CASES ORDER ABATED BY A JUDGE    ',
 '        24-06-43494-MCV    06/07/2024       07/19/2024                   ALL OTHER CASES ORDER ABATED BY A JUDGE    ',
 '        24-09-43842-MCV    09/27/2024       01/10/2025                   ALL OTHER CASES ORDER ABATED BY A JUDGE    ',
 '        24-10-43944-MCV    10/29/2024       12/09/2024                   ALL OTHER CASES ORDER ABATED BY A JUDGE    ',
 'TOTAL CASES LISTED: 8']

In [16]:
#Drop the last part, it's just a count of total cases
cases.pop()
cases

['        18-11-36606-MCV    11/09/2018       12/09/2024                   ALL OTHER CASES ORDER ABATED BY A JUDGE    ',
 '        22-09-41428-MCV    09/30/2022       10/16/2024                   ALL OTHER CASES ORDER ABATED BY A JUDGE    ',
 '        23-10-42622-MCV    10/02/2023       02/10/2025                   ALL OTHER CASES ORDER ABATED BY A JUDGE    ',
 '        24-02-43040-MCV    02/05/2024       02/28/2025                   ALL OTHER CASES ORDER ABATED BY A JUDGE    ',
 '        24-06-43488-MCV    06/05/2024       10/24/0224                   ALL OTHER CASES ORDER ABATED BY A JUDGE    ',
 '        24-06-43494-MCV    06/07/2024       07/19/2024                   ALL OTHER CASES ORDER ABATED BY A JUDGE    ',
 '        24-09-43842-MCV    09/27/2024       01/10/2025                   ALL OTHER CASES ORDER ABATED BY A JUDGE    ',
 '        24-10-43944-MCV    10/29/2024       12/09/2024                   ALL OTHER CASES ORDER ABATED BY A JUDGE    ']

In [17]:
case = cases[0]
case

'        18-11-36606-MCV    11/09/2018       12/09/2024                   ALL OTHER CASES ORDER ABATED BY A JUDGE    '

In [23]:
#Get cause number
cause_number = case[:27].strip()
cause_number

'18-11-36606-MCV'

In [25]:
#Get file date
file_date = case[27:44].strip()
file_date

'11/09/2018'

In [29]:
#Get inactivity start date
#Since I don't have an example for the next date in the string,
#just capture the 10 characters needed for the date, nothing more
inactive_date = case[44:54].strip()
inactive_date

'12/09/2024'

In [31]:
#Get the reactivated date
#Again, no example for this, so just select everything from the end
#of the last date to the beginning of the next field and strip it
reactivated_date = case[54:73].strip()
reactivated_date

''

In [32]:
#Get the inactive reason
reason = case[73:].strip()
reason

'ALL OTHER CASES ORDER ABATED BY A JUDGE'

In [35]:
def build_civil_inactive_cases_dataframe(text):
    """
    This function takes in the entire PDF document as a string of text. It will gather the info for each case
    and add the info to a dictionary. The dictionary for each case will be added to a list which will be turned into
    a dataframe.
    
    Parameter:
        -text: A string consisting of the text of the entire inactive cases PDF document.
        
    Returns:
        -df: A dataframe of the newly gathered inactive case info
    """
    
    #Initialize containers
    case_list = []
    inactive_start_list = []
    inactive_end_list = []
    inactive_reason_list = []
    temp_dict = {}
    
    #Separate the first header from the body
    #We'll use this to identify the county later
    header = text[:370]

    #Use regex to find the 'AS OF' and 'RAN ON' dates
    dates = re.findall(r"[0-9]{2}/[0-9]{2}/[0-9]{4}", header)

    #For 'AS OF' date:
    report_as_of_date = dates[1]
    
    #For county, check the name at the beginning of the header
    if header.count('LEOPOLDO VIELMA') >= 1:
        county = 'Maverick'
    elif header.count('MARICELA G. GONZALEZ') >= 1:
        county = 'Dimmit'
    elif header.count('RACHEL P. RAMIREZ') >= 1:
        county = 'Zavala'
    else:
        county = 'Unknown'
    
    #Body
    body = text[370:]
    
    #Remove subsequent page headers
    body = re.sub(r"""\s*[A-Z\.\' \n-]*\d{2}/\d{2}/\d{4}\n\s*[A-Z0-9 \:-]*\d{2}/\d{2}/\d{4}[A-Z0-9 \n#-]*INACTIVE REASON\s*\n\n""", '', body)
    
    #Split the text on the '\n' to isolate each case
    cases = body.split('\n')
    
    #Remove cases that happen to be empty or consist of whitespace only
    cases = [case for case in cases if case.isspace() == False and len(case) > 0]
    
    #Check the case count
    num_cases = cases.pop()
    num_cases = num_cases[19:].strip()
    
    #If there are zero inactive cases on the report, return
    if num_cases == '0':
        return pd.DataFrame()
    
    for case in cases:
        #Check to see if this line is the start of a new case
        if case[:35].isspace() == False:
            #Check if the temp_dict is empty
            if bool(temp_dict) == True:
                temp_dict['Inactive Start Date'] = inactive_start_list
                temp_dict['Inactive End Date'] = inactive_end_list
                temp_dict['Inactive Reason'] = inactive_reason_list
                
                case_list.append(temp_dict)
                
            #Reset temp_dict and lists
            temp_dict = {}
            inactive_start_list = []
            inactive_end_list = []
            inactive_reason_list = []
            
            #Assign county
            temp_dict['County'] = county

            #Gather the cause number
            temp_dict['Cause Number'] = case[:27].strip()

            #Gather the file date
            temp_dict['File Date'] = case[27:44].strip()

            #Get inactive start date
            inactive_start_list.append(case[44:54].strip())

            #Get inactive end date
            inactive_end_list.append(case[54:73].strip())

            #Assign Status
            temp_dict['Status'] = 'Inactive'
            
            #Assign Case Type
            temp_dict['Case Type'] = 'Civil'

            #Get inactive reason
            inactive_reason_list.append(case[73:].strip())

            #End of line, so move to next one
            
        else:
            #This line is a continuation of the same case
            #Just grab the start and end dates
            #As well as the reason
            #Get inactive start date
            inactive_start_list.append(case[44:54].strip())

            #Get inactive end date
            inactive_end_list.append(case[54:73].strip())

            #Get inactive reason
            inactive_reason_list.append(case[73:].strip())
            
    #Make sure the last case gets added
    if bool(temp_dict) == True:
        temp_dict['Inactive Start Date'] = inactive_start_list
        temp_dict['Inactive End Date'] = inactive_end_list
        temp_dict['Inactive Reason'] = inactive_reason_list

        case_list.append(temp_dict)
    
    #How many?
    print(f'Collected Data From {len(case_list)} Cases.')
    
    #Create dataframe
    df = pd.DataFrame(case_list)

    #Add 'Report Generated Date', 'Original As Of Date', 'Last As Of Date', and 'Comments' columns
    df["Original As Of Date"] = report_as_of_date
    df["Last As Of Date"] = report_as_of_date
    
    return df

In [36]:
#Test function
df = build_inactive_cases_dataframe(content)
df

Collected Data From 8 Cases.

,County,Cause Number,File Date,Status,Case Type,Inactive Start Date,Inactive End Date,Inactive Reason,Original As Of Date,Last As Of Date
0,Maverick,18-11-36606-MCV,11/09/2018,Inactive,Civil,[12/09/2024],[],[ALL OTHER CASES ORDER ABATED BY A JUDGE],03/25/2025,03/25/2025
1,Maverick,22-09-41428-MCV,09/30/2022,Inactive,Civil,[10/16/2024],[],[ALL OTHER CASES ORDER ABATED BY A JUDGE],03/25/2025,03/25/2025
2,Maverick,23-10-42622-MCV,10/02/2023,Inactive,Civil,[02/10/2025],[],[ALL OTHER CASES ORDER ABATED BY A JUDGE],03/25/2025,03/25/2025
3,Maverick,24-02-43040-MCV,02/05/2024,Inactive,Civil,[02/28/2025],[],[ALL OTHER CASES ORDER ABATED BY A JUDGE],03/25/2025,03/25/2025
4,Maverick,24-06-43488-MCV,06/05/2024,Inactive,Civil,[10/24/0224],[],[ALL OTHER CASES ORDER ABATED BY A JUDGE],03/25/2025,03/25/2025
5,Maverick,24-06-43494-MCV,06/07/2024,Inactive,Civil,[07/19/2024],[],[ALL OTHER CASES ORDER ABATED BY A JUDGE],03/25/2025,03/25/2025
6,Maverick,24-09-43842-MCV,09/27/2024,Inactive,Civil,[01/10/2025],[],[ALL OTHER CASES ORDER ABATED BY A JUDGE],03/25/2025,03/25/2025
7,Maverick,24-10-43944-MCV,10/29/2024,Inactive,Civil,[12/09/2024],[],[ALL OTHER CASES ORDER ABATED BY A JUDGE],03/25/2025,03/25/2025

In [37]:
import pandas as pd
import re

from pdfminer.high_level import extract_text

In [41]:
#Test with a file that has zero cases
test_file = '/Users/johnathonsmith/Downloads/25_03_25CVZavalaInactive.pdf'

In [42]:
content = extract_text(test_file)

In [43]:
#Test function
df = build_inactive_cases_dataframe(content)
df

Empty DataFrame
Columns: []
Index: []